---
layout: default
---

<div class="row">
  <div class="col mb-4">
    <h1>{{ page.title }}</h1>
    {{ content }}
    <div id="post-meta" class="card">
      <div class="card-block">

        <div class="container-fluid">
          <div class="row">
            <div class="col-7">
              <h2>
              {% if page.authors == null %}
                {{ site.default_author }}
              {% else %}
                {% for author in page.authors %}
                  {{ author }}{% if forloop.last == false %},{% endif %}
                {% endfor %}
              {% endif %}
              </h2>
              
              <p>Published on: {{ page.date | date: "%A, %B %-d, %Y" }}</p>
              {% if page.updated != null %}
                <p>Last updated: {{ page.updated | date: "%A, %B %-d, %Y" }}</p>
              {% endif %}
              </p>

              {% if page.tags != null %}
                <p>Tag(s): 
                {% for tag in page.tags %}
                  {%if forloop.last == true %} and {% endif %}{{ tag }}{% if forloop.last == false %},{% endif %}
                {% endfor %}
              {% endif %}
            </div>
            <div class="col-5">
              <p class="lead">{{ site.post_description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
